* {
    font-family: sans-serif;
    background: yellowgreen;
    max-width: 100%;
    max-height: 100%;
}

.principal{

    width: 250px;
    height: 250px;
    display: flex;
    grid-column: auto;
    background-color: yellowgreen;

}