* {
    font-family: sans-serif;
    background: rgb(50, 148, 205);
   
}

.form{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    border: 2px solid black;
}

h1{
    color: yellow
}

div{
    padding-bottom: 15px;
}
